body{
  margin: 0;
  font-family:Arial;
}
h1, p{
  font-size:25pt;
}
nav{
  overflow:hidden;
  background-color:rgb(32, 32, 32);
  position:fixed;
  width:100%;
  top:-50px;
  transition: top 0.5s;
}
a{
  float:left;
  color: white;
  padding:15px;
  text-decoration:none;
}
a:hover{
  background-color:rgb(184, 184, 184);
  color:black;
}
main{
  width:80%;
  margin: auto;
  min-height:2000px;
}
